article {
    margin-bottom: 5rem;
}

.content .MathJax {
    font-size: 100%!important;
    overflow-x: auto;
    overflow-y: hidden;
}

.content .katex {
    font-size: 100%!important;
    overflow-x: auto;
    overflow-y: hidden;
}

.content :last-child {
    margin-bottom: 0;
}

.content a {
    color: #AA0000;
    text-decoration: underline;
}


a.link-footnote {
    color: #AA0000;

}

a.link-footnote::before {
    color: #AA0000;
    content: "[";
}

a.link-footnote::after {
    color: #AA0000;
    content: "]";
}

a.link-footnote:hover::before {
    content: "[" !important;
    transition: none;
}

a.link-footnote:hover::after {
    content: "]" !important;
    transition: none;
}

.content blockquote,
.content div,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p,
.content pre,
.content ol,
.content table,
.content ul {
    margin-bottom: 1rem;
}

.content blockquote {
    border-left: black 2px solid;
    font-style: italic;
    padding: 1rem 0 1rem 2rem;
}

.content code {
    background-color: #F5F5F5;
    border-radius: .2rem;
    color: #AA0000;
    font-family: 'Latin Modern Mono', Courier, monospace;
    padding: 0 .2rem;
}

.content h1, .content h2, .content h3,
.content h4, .content h5, .content h6 {
    line-height: 1.5;
}

.content h1 {
    font-size: 2.4rem;
}

.content h2 {
    font-size: 1.8rem;
}

.content h3 {
    font-size: 1.4rem;
}

.content h4 {
    font-size: 1.2rem;
}

.content h5 {
    font-size: 1.1rem;
}

.content h6 {
    font-size: 1rem;
}

.content img {
    max-width: 100%;
    height: auto; /* Ensure images fit to screen */
}

.content p {
    text-align: justify;
}

.content pre {
    background-color: #F5F5F5!important;
    border-radius: .2rem;
    font-family: 'Latin Modern Mono', Courier, monospace;
    margin-top: .5rem;
    overflow-x: auto;
    padding: .5rem;
}

.content pre code {
    padding: 0;
}

.content strong.chinese {
    font-weight: normal;
    text-emphasis-style: dot;
    text-emphasis-position: under;
    -webkit-text-emphasis-style: dot;
    -webkit-text-emphasis-position: under;
}

.content table {
    display: block;
    overflow-x: auto;
}

.content td, .content th {
    border: #575C61 1px solid;
    padding: .1rem .5rem;
}

.content th {
    background-color: #575C61;
    color: #FAFAFA;
}

.content ol, .content ul {
    margin-left: 1.5rem;
}

.link-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 5%; /* Adjusted width */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    text-decoration: none;
    color: #AA0000;
    font-size: 2rem;
    pointer-events: auto; /* Ensure links are clickable */
}

.link-nav::before, .link-nav::after, .link-nav-left::before, .link-nav-left::after, .link-nav-right::before, .link-nav-right::after,
link-nav-left:hover::before, .link-nav-left:hover::after, .link-nav-right:hover::before, .link-nav-right:hover::after {
    content: "";
}

.link-nav:hover {
    cursor: pointer;
}

.link-nav-left {
    left: 0;
    transition: left 0.3s;
}

.link-nav-left:hover {
    border-left: 25px solid #AA0000;
    left: -10px;
    border-top: 25px solid #AA0000;
    border-bottom: 25px solid #AA0000;
}

.link-nav-right {
    right: 0;
    transition: right 0.3s;
}

.link-nav-right:hover {
    border-right: 25px solid #AA0000;
    border-top: 25px solid #AA0000;
    border-bottom: 25px solid #AA0000;
    right: -10px;
}

.paginator {
    bottom: 0; /* Stick to the bottom of the screen */
    position: fixed;
    top: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white; /* White background for navigation arrows */
    z-index: 1000; /* Ensure paginator is on top */
}

.paginator a {
    pointer-events: auto; /* Ensure paginator links are clickable */
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .link-nav {
        width: 50%; /* Adjust width for mobile */
        font-size: 1.5rem;
        position: fixed;
        bottom: 0;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white; /* White background for navigation arrows */
        top: auto; /* Ensure it sticks to the bottom */
    }

    .link-nav-left:hover::before, .link-nav-left:hover::after, .link-nav-right:hover::before, .link-nav-right:hover::after {
        content: "";
        transition: none;
    }

    .link-nav-left {
        left: 0;
    }

    .link-nav-right {
        right: 0;
    }

    .link-nav-left:hover, .link-nav-right:hover {
        border-width: 0; 
        transition:  none;

    }

    .paginator {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        bottom: 0;
        top: auto;
        background-color: #FFF;
    }

    .paginator a {
        width: 50%;
        text-align: center;
        padding: 1rem 0;
    }

    .content {
        margin-bottom: 60px; /* Add bottom margin to avoid content being hidden */
    }

    #footer {
        margin-bottom: 60px; /* Add bottom margin to footer */
    }
}
