<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.lockedInPlace</key>
	<false/>
	<key>CollectionSelections</key>
	<dict>
		<key>3C5F70BD-E023-4926-B56F-0E8D5C5C9610</key>
		<array>
			<string>2BF5346F-B907-46BD-937D-26893F9200D8</string>
			<string>B808BCAD-8BCD-440D-ACD7-1C502CEBEF94</string>
		</array>
		<key>88D5010B-CEF7-45F5-8D83-575F0BBA0A42</key>
		<array>
			<string>D21BA91E-2D0F-4F85-AFEC-807FB3C625EE</string>
		</array>
		<key>9CC37990-EC42-4B5C-8420-52DBEF214B94</key>
		<array>
			<string>585DF63C-DEBA-4881-9436-8AEDFAE254DA</string>
		</array>
	</dict>
	<key>CommentsScaleFactor</key>
	<real>1</real>
	<key>CommentsUseTextScale</key>
	<true/>
	<key>CompileFolder</key>
	<string>/Users/nicky.reinert/dev/web/fantastokrat.de/content/temp</string>
	<key>HistoryMonthPopUpType</key>
	<integer>0</integer>
	<key>MainWindowShowsFormatBar</key>
	<true/>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>B478BFC5-CE63-4B7C-86FB-9739CFC58710</key>
		<dict>
			<key>BinderUUID</key>
			<string>B478BFC5-CE63-4B7C-86FB-9739CFC58710</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>821</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>1042 571 821 643 0 0 2560 1417 </string>
		</dict>
		<key>D4509A7C-2354-48F1-9908-9439E1F7E866</key>
		<dict>
			<key>BinderUUID</key>
			<string>D4509A7C-2354-48F1-9908-9439E1F7E866</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>1042 693 475 522 0 0 2560 1417 </string>
		</dict>
		<key>D6A13B52-F190-4530-9C60-7D4C6DCDE628</key>
		<dict>
			<key>BinderUUID</key>
			<string>D6A13B52-F190-4530-9C60-7D4C6DCDE628</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ShowsFormatBar</key>
			<false/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>841 693 676 522 0 0 2560 1417 </string>
		</dict>
	</dict>
	<key>QuickRefFloatBehavior</key>
	<integer>2</integer>
	<key>SCRSelectedCompileOptionsInfoSaveName</key>
	<dict>
		<key>Tag</key>
		<integer>1</integer>
		<key>Title</key>
		<string>Original</string>
	</dict>
	<key>ScrivenerLinkDestinationGroupID</key>
	<integer>29</integer>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderIsCollapsed</key>
	<false/>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {272, 886}}</string>
		<string>{{273, 0}, {1230, 886}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>888F1919-172B-4C86-AF9C-3EBCAE603299</string>
		<string>A1BC1A79-3BDD-4104-A4F7-41E52F1684A0</string>
		<string>398EC73D-DB7D-4A02-B4D8-6B0346481CD9</string>
		<string>D765AB88-FA38-4BC1-A382-5F8BD522716F</string>
		<string>F2968F47-5EA1-4A63-8BA6-692417090906</string>
		<string>63A04606-91B3-40DB-BCA7-68D34E6EFDF5</string>
		<string>2D024F70-118E-438A-9E61-75A4F102AAF2</string>
		<string>F08E3C9D-EFEE-433A-BF98-5C667E96825A</string>
		<string>C19C143F-1BCA-4008-AEF6-82E30C58689D</string>
		<string>9B22CD78-8B79-4A79-84DC-5D485CF9CC5D</string>
	</array>
	<key>binderWidth</key>
	<real>272</real>
	<key>bookmarksNotesMode</key>
	<integer>0</integer>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelection</key>
	<dict>
		<key>D21BA91E-2D0F-4F85-AFEC-807FB3C625EE</key>
		<integer>0</integer>
		<key>D4509A7C-2354-48F1-9908-9439E1F7E866</key>
		<integer>0</integer>
		<key>E7DB0738-0BBB-4E6B-B7FB-64227742B570</key>
		<integer>0</integer>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>0635F927-8EEF-4FD5-BF0C-164182D81343</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>07EE5A16-3CC3-4295-AA69-12816E2F0E6C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>09034A09-BA25-49F6-8FB6-C6A90ACA0EDF</key>
		<dict>
			<key>DocID</key>
			<string>D21BA91E-2D0F-4F85-AFEC-807FB3C625EE</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>0A67DDCA-9AF3-49BE-8483-672C892E1EA8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0DEBB538-3525-4F8C-8437-4FBD035E0B40</key>
		<dict>
			<key>DocID</key>
			<string>BD51CEFB-04E0-4CC3-9DCA-728DE9DA40A9</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>14EC56C7-3A95-4D72-B5C6-769BAE050160</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1C068D6E-9707-4C0E-A19C-3C256EC6479A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1F59A594-E1C4-48B2-9CDF-AB059909CA68</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2099F585-2557-4167-811B-8F9689E8FBF3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>22247F80-E8C5-4CC9-BA43-BFC599D19D1C</key>
		<dict>
			<key>DocID</key>
			<string>D765AB88-FA38-4BC1-A382-5F8BD522716F</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>25F7B676-0FCD-4DF2-964F-395A3302979E</key>
		<dict>
			<key>DocID</key>
			<string>98A4BBC2-8817-430A-BC25-4CA8C3359A73</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>283A710B-DE5F-4B32-9F7A-47F08B8E8C3A</key>
		<dict>
			<key>DocID</key>
			<string>D6A13B52-F190-4530-9C60-7D4C6DCDE628</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>2BF5346F-B907-46BD-937D-26893F9200D8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2CAE7C89-B71A-4CF9-B588-DF1C9D5E1955</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>32ACB418-5A06-400E-9D47-D33602AA82D5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3331E0D0-AA13-4653-B607-A1CE10DE1096</key>
		<dict>
			<key>DocID</key>
			<string>25F7B676-0FCD-4DF2-964F-395A3302979E</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>34E08C43-0F95-488D-99CB-2195BBBB69C7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>35D1D926-8205-4296-BE29-D83201F1E811</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>38933B3B-0969-4B98-B9BF-FF8E37C800AA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>398EC73D-DB7D-4A02-B4D8-6B0346481CD9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3BE2E524-FBE2-4E4C-BBB8-7015A3A780DB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3CD094A6-8201-4CC7-B050-C896D78BF9D5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3DD85496-5040-41AA-9A19-306C115FE576</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3EF08615-7028-4D74-8B32-72E171E13531</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4106C7BE-5736-448C-AF81-6BD69AC89E17</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>536EEE38-3356-4886-B6B9-EF5EE9B4FBD5</key>
		<dict>
			<key>DocID</key>
			<string>0DEBB538-3525-4F8C-8437-4FBD035E0B40</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>56417016-C1F8-4D6B-991A-8F17529FC70C</key>
		<dict>
			<key>DocID</key>
			<string>56417016-C1F8-4D6B-991A-8F17529FC70C</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>56421FB1-8CEF-4276-A0B0-3380A639818E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>583B3777-9197-4603-9516-5223A86D4732</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>585DF63C-DEBA-4881-9436-8AEDFAE254DA</key>
		<dict>
			<key>DocID</key>
			<string>88C7FD9F-FFC7-46FB-80C2-F9C95320D431</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>5A26521D-0CC0-406B-8DA1-508B2820F06A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5D6E24A0-1CA1-4370-A4C7-A6C0B79D9E8C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5D8E0756-3F6F-4987-9145-6E701AEB2F5B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>63A04606-91B3-40DB-BCA7-68D34E6EFDF5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6DA3324E-530B-4B9B-93EC-763F87C25D00</key>
		<dict>
			<key>DocID</key>
			<string>56417016-C1F8-4D6B-991A-8F17529FC70C</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>6FDDE308-B6F7-4DE9-87EE-C555B6DCAFCD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7180274A-A764-4EE6-B878-BC76E18C105A</key>
		<dict>
			<key>DocID</key>
			<string>98A4BBC2-8817-430A-BC25-4CA8C3359A73</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>7182E87F-7F90-4143-B2F6-46984140486D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7B567107-6479-4738-9753-A408C9BACCAF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7C6A5CF9-DF49-44E4-803E-21290A6F8012</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7D90B6DC-36A6-49D8-AD9D-49260896CAAD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>807F5B29-A760-492A-8C3B-427499C811EF</key>
		<dict>
			<key>DocID</key>
			<string>A09F929F-B49E-4D39-AD15-CB4B2E6132AB</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>840DAD6E-BA31-47D6-ABC2-0BF52F9BBA2B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>866BBCB5-D522-429A-8CA0-ADDFED9FE89E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>88C7FD9F-FFC7-46FB-80C2-F9C95320D431</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8BD52013-34A8-4BB8-9949-68E924397D3B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8F8FB976-2A48-4916-A2B2-DE4260CF807A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>91CEF818-DB77-4FD7-B649-AC41871CB9FA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>96DB1647-D83F-4215-A304-07255B4000C7</key>
		<dict>
			<key>DocID</key>
			<string>F91DAC04-7547-4945-A851-D1FF12D21E1F</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>98A4BBC2-8817-430A-BC25-4CA8C3359A73</key>
		<dict>
			<key>DocID</key>
			<string>BD51CEFB-04E0-4CC3-9DCA-728DE9DA40A9</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>A09F929F-B49E-4D39-AD15-CB4B2E6132AB</key>
		<dict>
			<key>DocID</key>
			<string>98A4BBC2-8817-430A-BC25-4CA8C3359A73</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>A1BC1A79-3BDD-4104-A4F7-41E52F1684A0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A6DF8DA6-AB4F-4B65-9DC8-E822DC83D22E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AD5A950A-4FB6-448E-BAFD-06D01A94FB2F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AF621794-7D82-4A10-A93C-092DDCDFFBF4</key>
		<dict>
			<key>DocID</key>
			<string>25F7B676-0FCD-4DF2-964F-395A3302979E</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>B0CD9500-4D6E-4FE0-AE96-6DFC04975CA7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B1A3F8BD-741C-4128-971C-FF37445A5CD5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B478BFC5-CE63-4B7C-86FB-9739CFC58710</key>
		<dict>
			<key>DocID</key>
			<string>14EC56C7-3A95-4D72-B5C6-769BAE050160</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>B808BCAD-8BCD-440D-ACD7-1C502CEBEF94</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BD51CEFB-04E0-4CC3-9DCA-728DE9DA40A9</key>
		<dict>
			<key>DocID</key>
			<string>A09F929F-B49E-4D39-AD15-CB4B2E6132AB</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>BFA9C076-FB33-4024-B68C-78CE74A32B4F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C19C143F-1BCA-4008-AEF6-82E30C58689D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C2BB7606-193E-46AB-A32E-5381E2EAD08F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C3759477-45A9-4836-8D42-4143D53C22CA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CA2F1450-D23F-42D7-B8B3-8DE3411C0090</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CA9A9D3E-A0C0-4D75-9E11-DA3568C38C3C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CAEC143A-CA50-4EFB-875A-6AF3B056A119</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CEEBA583-25B7-4CBC-964C-1D8118AE1D68</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CEFA169B-3580-4EDA-9450-63BA23ADD1E2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D21BA91E-2D0F-4F85-AFEC-807FB3C625EE</key>
		<dict>
			<key>DocID</key>
			<string>09034A09-BA25-49F6-8FB6-C6A90ACA0EDF</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>D4509A7C-2354-48F1-9908-9439E1F7E866</key>
		<dict>
			<key>DocID</key>
			<string>6FDDE308-B6F7-4DE9-87EE-C555B6DCAFCD</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>D6A13B52-F190-4530-9C60-7D4C6DCDE628</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D765AB88-FA38-4BC1-A382-5F8BD522716F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D98F8860-363B-4635-B5A1-82C50FA059EB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E01110B6-5C51-4E30-858A-E783950ECEB9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E7DB0738-0BBB-4E6B-B7FB-64227742B570</key>
		<dict>
			<key>DocID</key>
			<string>B670E26B-2CFC-4870-936E-C3A94D4242A4</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>E8AD5C94-F2A4-4BCC-A854-E672C9BDECE8</key>
		<dict>
			<key>DocID</key>
			<string>38933B3B-0969-4B98-B9BF-FF8E37C800AA</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>E9A2124A-670D-449C-B193-997D54DFCCFF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EA2005C0-3190-4417-8697-845A97D365E3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EAA594B5-0C7F-417A-9BF4-BBBED9F4381B</key>
		<dict>
			<key>DocID</key>
			<string>EAC1A67A-FFE2-40CB-8E2C-DBFBB8963E51</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>EAC1A67A-FFE2-40CB-8E2C-DBFBB8963E51</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EB4BBF2C-22F0-4B17-8064-ABF88AB2FF4F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EDFED947-3A58-4712-B9E4-27CCBF40E652</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F2968F47-5EA1-4A63-8BA6-692417090906</key>
		<dict>
			<key>DocID</key>
			<string>B478BFC5-CE63-4B7C-86FB-9739CFC58710</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>F3AFB259-EAF0-4413-8466-484C3829A913</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F64228FD-29DA-4C83-83C0-074D2917DC19</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F91DAC04-7547-4945-A851-D1FF12D21E1F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FEFF1BE0-0533-4736-8DCC-69D77CDEADA7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>closedSuccessfully</key>
	<true/>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>0</integer>
	</array>
	<key>collectionsHeight</key>
	<real>115</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsSplitFrames</key>
	<array>
		<string>{{0, 0}, {272, 115}}</string>
		<string>{{0, 116}, {272, 714}}</string>
	</array>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>continuousSpellChecking</key>
	<false/>
	<key>corkboardShowLabels</key>
	<false/>
	<key>corkboardShowStatusStamps</key>
	<false/>
	<key>corkboardsShowCardNumbers</key>
	<false/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1002, 431}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenBackgroundFade</key>
	<real>1</real>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperPosition</key>
	<integer>0</integer>
	<key>fullScreenPaperWidth</key>
	<integer>870</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textScale</key>
		<integer>100</integer>
		<key>textScaleFactor</key>
		<real>1.25</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<true/>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>grammarSpellChecking</key>
	<false/>
	<key>indexCardsUseSmallFont</key>
	<false/>
	<key>inspectorCustomPaneIsCollapsed</key>
	<true/>
	<key>inspectorGeneralPaneIsCollapsed</key>
	<false/>
	<key>inspectorIsCollapsed</key>
	<true/>
	<key>inspectorNotesMode</key>
	<integer>0</integer>
	<key>inspectorReferencesColumns</key>
	<dict>
		<key>order</key>
		<array>
			<string>ICON</string>
			<string>DESCRIPTION</string>
			<string>URL</string>
		</array>
		<key>widths</key>
		<dict>
			<key>DESCRIPTION</key>
			<real>87</real>
			<key>ICON</key>
			<real>16</real>
			<key>URL</key>
			<real>115.4423828125</real>
		</dict>
	</dict>
	<key>inspectorSelectedDataTab</key>
	<integer>4</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1002, 856}}</string>
		<string>{{1003, 0}, {227, 856}}</string>
	</array>
	<key>inspectorSynopsisIsCollapsed</key>
	<false/>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>mainDocumentEditor.QTBackTrack</key>
	<false/>
	<key>mainDocumentEditor.binderDocuments</key>
	<array/>
	<key>mainDocumentEditor.cardWidth</key>
	<real>214.89898681640625</real>
	<key>mainDocumentEditor.cardsAcross</key>
	<integer>3</integer>
	<key>mainDocumentEditor.corkboardVisible</key>
	<false/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>sectionType</string>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
	</array>
	<key>mainDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsState</key>
	<dict>
		<key>order</key>
		<array>
			<string>title</string>
			<string>label</string>
			<string>status</string>
			<string>sectionType</string>
			<string>createdDate</string>
			<string>modifiedDate</string>
			<string>words</string>
			<string>characters</string>
			<string>includeInExport</string>
			<string>targetCount</string>
			<string>targetCountType</string>
			<string>progress</string>
			<string>totalWords</string>
			<string>totalCharacters</string>
			<string>allKeywords</string>
			<string>totalTargetCount</string>
			<string>totalProgress</string>
		</array>
		<key>widths</key>
		<dict>
			<key>allKeywords</key>
			<real>59</real>
			<key>characters</key>
			<real>79</real>
			<key>createdDate</key>
			<real>78</real>
			<key>includeInExport</key>
			<real>109</real>
			<key>label</key>
			<real>123</real>
			<key>modifiedDate</key>
			<real>82</real>
			<key>progress</key>
			<real>55</real>
			<key>sectionType</key>
			<real>77</real>
			<key>status</key>
			<real>104</real>
			<key>targetCount</key>
			<real>55</real>
			<key>targetCountType</key>
			<real>71</real>
			<key>title</key>
			<real>415</real>
			<key>totalCharacters</key>
			<real>108</real>
			<key>totalProgress</key>
			<real>84</real>
			<key>totalTargetCount</key>
			<real>84</real>
			<key>totalWords</key>
			<real>84</real>
			<key>words</key>
			<real>55</real>
		</dict>
	</dict>
	<key>mainDocumentEditor.outlinerState</key>
	<array/>
	<key>mainDocumentEditor.outlinerVisible</key>
	<false/>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 888.88888888888891}}</string>
	<key>mainDocumentEditor.selectedItemUUIDs</key>
	<array/>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{0, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>0.90000000000000002</real>
	</dict>
	<key>mainDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>mainDocumentView</key>
	<string>supportingDocumentEditor</string>
	<key>mainWindowFrame</key>
	<string>327 33 1503 914 0 0 1920 1055 </string>
	<key>metaDataModeAutosaveName</key>
	<integer>0</integer>
	<key>projectStatsSheet</key>
	<dict>
		<key>countDraftFootnotes</key>
		<true/>
		<key>currentCompileGroupOnly</key>
		<false/>
		<key>excludeAnnots</key>
		<false/>
		<key>excludeFN</key>
		<false/>
		<key>includeSubdocs</key>
		<true/>
		<key>options</key>
		<integer>0</integer>
		<key>paperbackCountUsesChars</key>
		<false/>
		<key>wordsOrCharsPerPaperbackPage</key>
		<integer>350</integer>
	</dict>
	<key>revisionMode</key>
	<integer>0</integer>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>200</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>showsInspectorFootnoteNumbering</key>
	<false/>
	<key>smartDashes</key>
	<true/>
	<key>smartQuotes</key>
	<true/>
	<key>supportingDocumentEditor.affectsMode</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array>
		<string>D6A13B52-F190-4530-9C60-7D4C6DCDE628</string>
	</array>
	<key>supportingDocumentEditor.cardWidth</key>
	<real>214.89898681640625</real>
	<key>supportingDocumentEditor.cardsAcross</key>
	<integer>3</integer>
	<key>supportingDocumentEditor.corkboardVisible</key>
	<false/>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>sectionType</string>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
	</array>
	<key>supportingDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>supportingDocumentEditor.outlinerColumnsState</key>
	<dict>
		<key>order</key>
		<array>
			<string>title</string>
			<string>label</string>
			<string>status</string>
			<string>sectionType</string>
			<string>createdDate</string>
			<string>modifiedDate</string>
			<string>words</string>
			<string>characters</string>
			<string>includeInExport</string>
			<string>targetCount</string>
			<string>targetCountType</string>
			<string>progress</string>
			<string>totalWords</string>
			<string>totalCharacters</string>
			<string>allKeywords</string>
			<string>totalTargetCount</string>
			<string>totalProgress</string>
		</array>
		<key>widths</key>
		<dict>
			<key>allKeywords</key>
			<real>59</real>
			<key>characters</key>
			<real>79</real>
			<key>createdDate</key>
			<real>78</real>
			<key>includeInExport</key>
			<real>109</real>
			<key>label</key>
			<real>119.1171875</real>
			<key>modifiedDate</key>
			<real>82</real>
			<key>progress</key>
			<real>55</real>
			<key>sectionType</key>
			<real>77</real>
			<key>status</key>
			<real>81.66796875</real>
			<key>targetCount</key>
			<real>55</real>
			<key>targetCountType</key>
			<real>71</real>
			<key>title</key>
			<real>419</real>
			<key>totalCharacters</key>
			<real>108</real>
			<key>totalProgress</key>
			<real>84</real>
			<key>totalTargetCount</key>
			<real>84</real>
			<key>totalWords</key>
			<real>84</real>
			<key>words</key>
			<real>55</real>
		</dict>
	</dict>
	<key>supportingDocumentEditor.outlinerShowsTitlesOnly</key>
	<false/>
	<key>supportingDocumentEditor.outlinerState</key>
	<array>
		<string>A1BC1A79-3BDD-4104-A4F7-41E52F1684A0</string>
		<string>398EC73D-DB7D-4A02-B4D8-6B0346481CD9</string>
		<string>63A04606-91B3-40DB-BCA7-68D34E6EFDF5</string>
		<string>2D024F70-118E-438A-9E61-75A4F102AAF2</string>
		<string>F08E3C9D-EFEE-433A-BF98-5C667E96825A</string>
	</array>
	<key>supportingDocumentEditor.outlinerVisible</key>
	<false/>
	<key>supportingDocumentEditor.qrSplitFrame</key>
	<array>
		<string>{{0, 0}, {834, 592}}</string>
		<string>{{0, 593}, {834, 593}}</string>
	</array>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>textScale</key>
		<integer>100</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>supportingDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
	<key>tintIndexCardsWithLabelColor</key>
	<false/>
</dict>
</plist>
